.roster-viewer {
  max-width: 1040px;
  margin: 20px auto;
  padding: 0 20px;
}

.roster-viewer__options {
  display: flex;
}

.roster-viewer__option-col {
  flex: 1 0 50%;
  padding: 10px;
}

.roster-viewer__results {
  padding: 10px;
}

.roster-viewer__status-message {
  color: #525252;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: 12px;
}